<div class="column">
{#    <h1 class="ui teal floated header">#}
{#        <a href="{{ path('sylius_shop_homepage') }}">#}
{#            <i class="bath icon"></i>#}
{#            <div class="content">#}
{#                {{ main_brand_title }}#}
{#            </div>#}
{#        </a>#}
{#    </h1>#}
    <a href="{{ path('sylius_shop_homepage') }}">
        <img src="{{ asset('assets/shop/img/ibath_logo.png') }}" alt="{{ main_brand_title }} logo" class="ui small image" />
    </a>
</div>
