{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% if cart.empty %}
    {{ 'sylius.ui.your_cart_is_empty'|trans }}.
{% else %}
    <table class="ui very compact single line basic small table teal">
{#        <thead>#}
{#        <tr>#}
{#            <th>{{ 'sylius.ui.item'|trans }}</th>#}
{#            <th class="right aligned">{{ 'sylius.ui.unit_price'|trans }}</th>#}
{#            <th class="right aligned">{{ 'sylius.ui.qty'|trans }}</th>#}
{#            <th class="right aligned">{{ 'sylius.ui.total'|trans }}</th>#}
{#        </tr>#}
{#        </thead>#}
        <tbody>
        {% set total = 0 %}
        {% for item in cart.items %}
            {% set total = total + item.subtotal %}
            {% if item.product.imagesByType('thumbnail') is not empty %}
                {% set imageProductPath = item.product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_tiny_thumbnail')) %}
            {% elseif item.product.images.first %}
                {% set imageProductPath = item.product.images.first.path|imagine_filter(filter|default('sylius_shop_product_tiny_thumbnail')) %}
            {% else %}
                {% set imageProductPath = '//placehold.it/30x30' %}
            {% endif %}
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img class="ui mini rounded image" src="{{ imageProductPath }}" alt="{{ item.product.name }}">
                        <div class="content">
                            {{ item.product }}
                        </div>
                    </h4>
                </td>
                <td class="right aligned">{{ money.convertAndFormat(item.unitPrice) }}</td>
                <td class="right aligned">x {{ item.quantity }}</td>
                <td class="right aligned">{{ money.convertAndFormat(item.subtotal) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr class="positive">
            <th class="right aligned" colspan="3"><strong>{{ 'sylius.ui.total'|trans|upper }}</strong></th>
            <th class="right aligned"><strong>{{ money.convertAndFormat(total) }}</strong></th>
        </tr>
        </tfoot>
    </table>
    <a href="{{ path('sylius_shop_cart_summary') }}" class="ui fluid basic text button">{{ 'sylius.ui.view_and_edit_cart'|trans }}</a>
    <div class="ui divider"></div>
    <a href="{{ path('sylius_shop_checkout_start') }}" class="ui fluid teal labeled icon button">
        <i class="check icon"></i>
        {{ 'sylius.ui.checkout'|trans }}
    </a>
{% endif %}
